.App {
  font-family: sans-serif;
  text-align: center;
}

#userForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#actionButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.button-right {
  float: right;
}
